
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18.75px;
  line-height: 2.125;
  color: #c4c3ca;
  background: linear-gradient(15deg, #b41408 0%, #003a5c 100%);
  overflow-x: hidden;
}
#textos {
  color: #f3f2fa;
}
a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffffff;
}
p {
  font-weight: 500;
  font-size: 17.5px;
  line-height: 2.125;
}
h4 {
  font-weight: 600;
}
h6 span {
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 75px;
  height: 20px;
  border-radius: 10px;
  padding: 0;
  margin: 12.5px auto;
  cursor: pointer;
  background-color: #dfd0d0;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -12.5px;
  left: -12.5px;
  line-height: 45px;
  text-align: center;
  font-size: 30px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(55px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 550px;
  max-width: 100%;
  height: 500px;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: 75px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #010535;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 7.5px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 43.75px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 43.75px) perspective(125px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  padding: 16.25px 25px;
  padding-left: 68.75px;
  height: 50px;
  width: 100%;
  font-weight: 500;
  border-radius: 5px;
  font-size: 17.5px;
  line-height: 27.5px;
  letter-spacing: 0.625px;
  outline: none;
  color: #f3f2fa;
  background-color: #3777c0;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 5px 10px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 5px 10px 0 rgba(5, 228, 228, 0.808);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 22.5px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  text-align: left;
  color: #17d2eb;
  transition: all 200ms linear;
}

.form-group input::placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}
.form-group input:focus::placeholder {
  opacity: 0;
}

.btn {
  border-radius: 5px;
  height: 55px;
  font-size: 16.25px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 37.5px;
  letter-spacing: 1.25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #102770 !important;
  box-shadow: 0 10px 30px 0 rgba(12, 220, 235, 0.336);
}
.btn:active,
.btn:focus {
  background-color: #00eeff94;
  color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(255, 0, 0, 0.2);
}
.btn:hover {
  background-color: #132d81;
  color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(5, 228, 228, 0.808);
}

.logo {
  position: absolute;
  top: 37.5px;
  right: 37.5px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 75px;
  width: auto;
  display: block;
}
